# Describing Datasets
---

Let's start by firing up a season-long dataset to get referees and their cards given in each game.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('results.csv')

In [2]:
# use '.head()' to see the top rows and check out the structure

df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2020-21,2020-09-12T12:30:00Z,Fulham,Arsenal,0,3,A,0,1,A,...,2,6,2,3,12,12,2,2,0,0
1,2020-21,2020-09-12T15:00:00Z,Crystal Palace,Southampton,1,0,H,1,0,H,...,3,5,7,3,14,11,2,1,0,0
2,2020-21,2020-09-12T17:30:00Z,Liverpool,Leeds,4,3,H,3,2,H,...,6,3,9,0,9,6,1,0,0,0
3,2020-21,2020-09-12T20:00:00Z,West Ham,Newcastle,0,2,A,0,0,D,...,3,2,8,7,13,7,2,2,0,0
4,2020-21,2020-09-13T14:00:00Z,West Brom,Leicester,0,3,A,0,0,D,...,1,7,2,5,12,9,1,1,0,0

In [3]:
# change column titles to something more descrpitive

df = df.drop(['Season', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC'], axis=1)
df.columns = ['Date', 'HomeTeam', 'AwayTeam', 'Referee', 'HomeFouls', 'AwayFouls', 'HomeYellows', 'AwayYellows', 'HomeReds', 'AwayReds']

df['TotalFouls'] = df['HomeFouls'] + df['AwayFouls']
df['TotalYellows'] = df['HomeYellows'] + df['AwayYellows']
df['TotalReds'] = df['HomeReds'] + df['AwayReds']

In [4]:
df.head(5)

,Date,HomeTeam,AwayTeam,Referee,HomeFouls,AwayFouls,HomeYellows,AwayYellows,HomeReds,AwayReds,TotalFouls,TotalYellows,TotalReds
0,2020-09-12T12:30:00Z,Fulham,Arsenal,C Kavanagh,12,12,2,2,0,0,24,4,0
1,2020-09-12T15:00:00Z,Crystal Palace,Southampton,J Moss,14,11,2,1,0,0,25,3,0
2,2020-09-12T17:30:00Z,Liverpool,Leeds,M Oliver,9,6,1,0,0,0,15,1,0
3,2020-09-12T20:00:00Z,West Ham,Newcastle,S Attwell,13,7,2,2,0,0,20,4,0
4,2020-09-13T14:00:00Z,West Brom,Leicester,A Taylor,12,9,1,1,0,0,21,2,0

In [5]:
# Check if we have a complete set of matches

len(df)

380

## Descriptive Statistics

The easiest way to produce an en-masse summary of our dataset is with the `.describe()` method.

This will give us a whole new table of statistics for each numerical column.

- Count: how many values are there?
- Mean: What is the mean average? (Sum of values/count of values)
- STD: what is the standard deeviation? This number describes how widely the group differs around the average. If we have normal distrubtion, 68% of our values will be within one STD either side of the average.
- Min: the smallest value in our array
- 25%/50%/75%: what value accounts for 25,50,and 75% of the data?
- Max: the highest value in our array

In [6]:
df.describe()

,HomeFouls,AwayFouls,HomeYellows,AwayYellows,HomeReds,AwayReds,TotalFouls,TotalYellows,TotalReds
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,11.223684,10.550000,1.423684,1.447368,0.050000,0.071053,21.773684,2.871053,0.121053
std,3.438102,3.474768,1.107407,1.159960,0.218232,0.286373,5.119299,1.661834,0.357474
min,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000
25%,9.000000,8.000000,1.000000,1.000000,0.000000,0.000000,18.000000,2.000000,0.000000
50%,11.000000,10.000000,1.000000,1.000000,0.000000,0.000000,21.000000,3.000000,0.000000
75%,13.000000,13.000000,2.000000,2.000000,0.000000,0.000000,25.000000,4.000000,0.000000
max,23.000000,21.000000,6.000000,5.000000,1.000000,2.000000,38.000000,9.000000,2.000000

On average, referees cautioned 2 or 3 times a match in 2020-21. Away team only slightly more likely to get more cautions.

One match had 38 fouls. Wow.

## Describing with groups

It would be helpful to look at our referees individually. We can use `.groupby()` to create a dataset groupbed by the 'Referee' column

In [7]:
grouped_refs = df.groupby('Referee')

In [8]:
#all averages

grouped_refs.describe()

           HomeFouls                                                      \
               count       mean       std  min    25%   50%    75%   max
Referee
A Madley        16.0  12.562500  3.614208  6.0  11.00  13.0  14.00  20.0
A Marriner      25.0   9.000000  3.640055  4.0   7.00   9.0  11.00  20.0
A Moss           1.0   8.000000       NaN  8.0   8.00   8.0   8.00   8.0
A Taylor        28.0  10.642857  3.245673  4.0   9.00  10.0  12.25  18.0
C Kavanagh      22.0  12.409091  3.246377  8.0  10.00  12.0  14.50  19.0
C Pawson        23.0  12.130435  3.721001  7.0   9.00  11.0  14.00  21.0
D Coote         21.0  12.000000  3.331666  7.0  10.00  12.0  13.00  23.0
D England       11.0  11.454545  3.643175  4.0   9.00  12.0  14.50  16.0
G Scott         13.0  10.000000  2.549510  5.0   9.00  10.0  12.00  14.0
J Moss          24.0  10.416667  3.562079  5.0   7.75  10.0  12.25  18.0
K Friend        25.0  11.560000  2.829605  6.0  10.00  11.0  13.00  16.0
L Mason         11.0   9.818182  2.713602  3.0   9.50  11.0  11.50  12.0
M Atkinson      26.0   9.846154  2.975800  5.0   7.25   9.0  11.75  16.0
M Dean          25.0  11.760000  3.597221  7.0  10.00  11.0  13.00  23.0
M Oliver        28.0  11.642857  3.633326  5.0   9.00  12.0  13.25  22.0
P Bankes        16.0  10.937500  3.415040  5.0   9.00  10.5  12.00  20.0
P Tierney       21.0  13.809524  3.414953  9.0  11.00  13.0  16.00  20.0
R Jones          9.0  10.777778  3.456074  7.0   8.00  10.0  13.00  17.0
S Attwell       23.0  11.347826  2.901547  8.0   9.00  11.0  13.00  18.0
S Hooper        12.0  10.583333  2.745520  6.0   9.00  10.5  12.25  16.0

           AwayFouls             ... TotalYellows      TotalReds            \
               count       mean  ...          75%  max     count      mean
Referee                          ...
A Madley        16.0  12.375000  ...         3.25  5.0      16.0  0.062500
A Marriner      25.0   9.640000  ...         4.00  5.0      25.0  0.040000
A Moss           1.0  12.000000  ...         4.00  4.0       1.0  0.000000
A Taylor        28.0  10.428571  ...         3.00  5.0      28.0  0.107143
C Kavanagh      22.0  10.045455  ...         3.75  6.0      22.0  0.090909
C Pawson        23.0  11.913043  ...         4.50  8.0      23.0  0.130435
D Coote         21.0  11.904762  ...         4.00  7.0      21.0  0.142857
D England       11.0  10.545455  ...         4.00  5.0      11.0  0.000000
G Scott         13.0  11.153846  ...         3.00  4.0      13.0  0.307692
J Moss          24.0   9.750000  ...         4.00  7.0      24.0  0.083333
K Friend        25.0   8.680000  ...         3.00  5.0      25.0  0.120000
L Mason         11.0  10.545455  ...         3.00  5.0      11.0  0.000000
M Atkinson      26.0   8.961538  ...         3.00  4.0      26.0  0.076923
M Dean          25.0  10.960000  ...         5.00  7.0      25.0  0.240000
M Oliver        28.0  10.714286  ...         4.00  7.0      28.0  0.107143
P Bankes        16.0   9.875000  ...         5.00  6.0      16.0  0.250000
P Tierney       21.0  10.904762  ...         5.00  7.0      21.0  0.142857
R Jones          9.0  10.666667  ...         3.00  4.0       9.0  0.222222
S Attwell       23.0  10.826087  ...         5.00  9.0      23.0  0.173913
S Hooper        12.0  12.833333  ...         3.25  5.0      12.0  0.000000


                 std  min  25%  50%  75%  max
Referee
A Madley    0.250000  0.0  0.0  0.0  0.0  1.0
A Marriner  0.200000  0.0  0.0  0.0  0.0  1.0
A Moss           NaN  0.0  0.0  0.0  0.0  0.0
A Taylor    0.314970  0.0  0.0  0.0  0.0  1.0
C Kavanagh  0.294245  0.0  0.0  0.0  0.0  1.0
C Pawson    0.457697  0.0  0.0  0.0  0.0  2.0
D Coote     0.358569  0.0  0.0  0.0  0.0  1.0
D England   0.000000  0.0  0.0  0.0  0.0  0.0
G Scott     0.480384  0.0  0.0  0.0  1.0  1.0
J Moss      0.408248  0.0  0.0  0.0  0.0  2.0
K Friend    0.331662  0.0  0.0  0.0  0.0  1.0
L Mason     0.000000  0.0  0.0  0.0  0.0  0.0
M Atkinson  0.271746  0.0  0.0  0.0  0.0  1.0
M Dean      0.522813  0.0  0.0  0.0  0.0  2.0
M Oliver    0.314970  0.0  0.0  0.0  0.0  1.0
P Bankes    0.577350  0.0  0.0  0.0  0.0  2.0
P Tierney   0.358569  0.0  0.0  0.0  0.0  1.0
R Jones     0.440959  0.0  0.0  0.0  0.0  1.0
S Attwell   0.387553  0.0  0.0  0.0  0.0  1.0
S Hooper    0.000000  0.0  0.0  0.0  0.0  0.0

[20 rows x 72 columns]

Too much info, let's filter and check total yellows only.

In [9]:
grouped_refs.describe()['TotalYellows']

            count      mean       std  min   25%  50%   75%  max
Referee
A Madley     16.0  2.562500  1.314978  1.0  2.00  2.0  3.25  5.0
A Marriner   25.0  2.400000  1.414214  0.0  2.00  2.0  4.00  5.0
A Moss        1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
A Taylor     28.0  2.642857  1.282771  0.0  2.00  3.0  3.00  5.0
C Kavanagh   22.0  2.818182  1.680033  0.0  2.00  3.0  3.75  6.0
C Pawson     23.0  3.434783  1.902775  0.0  2.00  3.0  4.50  8.0
D Coote      21.0  3.095238  1.841325  0.0  2.00  3.0  4.00  7.0
D England    11.0  3.181818  1.167748  2.0  2.00  3.0  4.00  5.0
G Scott      13.0  2.384615  1.260850  1.0  1.00  3.0  3.00  4.0
J Moss       24.0  2.500000  1.793709  0.0  1.00  2.0  4.00  7.0
K Friend     25.0  2.320000  1.180395  0.0  2.00  2.0  3.00  5.0
L Mason      11.0  1.818182  1.887760  0.0  0.50  1.0  3.00  5.0
M Atkinson   26.0  2.346154  1.354764  0.0  1.25  3.0  3.00  4.0
M Dean       25.0  3.560000  1.757840  0.0  3.00  3.0  5.00  7.0
M Oliver     28.0  2.964286  1.666270  0.0  2.00  3.0  4.00  7.0
P Bankes     16.0  3.062500  1.691892  0.0  2.00  3.0  5.00  6.0
P Tierney    21.0  3.904762  1.729299  0.0  3.00  4.0  5.00  7.0
R Jones       9.0  2.333333  1.224745  1.0  1.00  2.0  3.00  4.0
S Attwell    23.0  3.826087  2.124579  0.0  2.50  4.0  5.00  9.0
S Hooper     12.0  2.416667  1.443376  0.0  1.75  2.0  3.25  5.0

Moss gives the highest on average, but only reffed one match. Paul Tierney is the most likely of utilized officials to hand out a booking with 3.9 per match.

Stuart Attwell gave out the most in one match though with nine yellows. You can check which match it is below.

In [10]:
df[df['TotalYellows'] == 9]

,Date,HomeTeam,AwayTeam,Referee,HomeFouls,AwayFouls,HomeYellows,AwayYellows,HomeReds,AwayReds,TotalFouls,TotalYellows,TotalReds
26,2020-09-28T17:45:00Z,Fulham,Aston Villa,S Attwell,18,14,6,3,0,0,32,9,0

However, there was a match with 38 fouls, the most in the season. Check below for what it is.

In [11]:
df[df['TotalFouls'] == 38]

,Date,HomeTeam,AwayTeam,Referee,HomeFouls,AwayFouls,HomeYellows,AwayYellows,HomeReds,AwayReds,TotalFouls,TotalYellows,TotalReds
108,2020-12-12T12:30:00Z,Wolves,Aston Villa,M Dean,23,15,2,5,0,0,38,7,0